<div id="deleteItemModal_{{ product.id }}" class="modal text-center">

    <!-- Modal content -->
    <div class="modal-header modal-content">
        <span class="close">&times;</span>
    </div>
    <div class="modal-body modal-content">
      
        <h4>Would you like to delete {{ product.name }} permanently?</h4>
      
    </div>
    <div class="modal-footer modal-content">
      
        <a href="{{ url_for('delete.delete', id=product.id) }}" class="btn btn-danger">Delete Item</a>
      
    </div>

</div>